{% extends "base.html" %}

{% block title %}Reset de password{% endblock %}

{% block content %}
    <h1>Reseteo de contraseña</h1>
    {% if validlink %}
        <p>Ingrese su nueva contraseña dos veces:</p>
        <form method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Cambiar"></p>
            {% csrf_token %}
        </form>
    {% else %}
        <p>El enlace no es válido, posibblemente ya haya sido usado. Por favor, solicite un nuevo password reset</p>
    {% endif %}
{% endblock %}